.wrapper {
    width: 1400px;
    margin: 0 auto;
}

#PullbackTradeTicketForm .form-group.row {
    margin-bottom: .5rem;
}

/*#PullbackTradeTicketForm .form-group.row.hasSelect {
    margin-top: .5rem;
}*/

    #PullbackTradeTicketForm .form-group.row .custom-switch {
        padding-top: 7px;
    }


#trade-ticket-qualifiers .list-group-item:not(.list-group-item-dark) {
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor:pointer;
}