@model TradeTicketDto

@{
    ViewBag.tab = "Trading";
}

<ul class="nav nav-tabs pt-2" id="tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="trade-ticket-tab" data-toggle="tab" href="#trade-ticket" role="tab" aria-controls="trade-ticket" aria-selected="true">Trade Ticket</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link" id="trades-tab" data-toggle="tab" href="#trades" role="tab" aria-controls="trades" aria-selected="false">Trades</a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link" id="trade-day-performance-tab" data-toggle="tab"
           href="#trade-day-performance" role="tab" aria-controls="trade-day-performance" aria-selected="false">Day Perf</a>
    </li>
</ul>
<div class="tab-content pt-2" id="strategiesTabContent">
    <div class="tab-pane fade show active" id="trade-ticket" role="tabpanel" aria-labelledby="trade-ticket-tab">
        @Html.Partial("_TradeTicketForm", Model)
    </div>
    @*<div class="tab-pane fade" id="trades" role="tabpanel" aria-labelledby="trades-tab">
        @Html.Partial("_TradeTicketsTable")
    </div>*@
    <div class="tab-pane fade" id="trade-day-performance" role="tabpanel" aria-labelledby="trade-day-performance-tab">
        @Html.Partial("_TradeDayPerformanceTable")
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            setTimeout(function () {
                //$("#tradeTicketsGrid .k-grid-content").css("height", "").css("max-height", $(window).height() - 300);
                $("#dayPerformanceGrid .k-grid-content").css("height", "").css("max-height", $(window).height() - 300);
            }, 1000);

            $("body").on("change", ".trade-steps input[type=checkbox]", function () {
                var $this = $(this);

                if ($(this).prop("checked")) {
                    $this.parent().addClass("list-group-item-success")
                }
                else {
                    $this.parent().removeClass("list-group-item-success")
                }
            })
                .on("click", "#uxButton_SetTimestamp", function () {
                    $("#Timestamp").val(moment().format("M/D/YYYY h:mm:ss A"));
                })
                .on("click", "#uxButton_Reset", function () {
                    window.location.href = window.location.href;
                })
                .on("click", "#trade-ticket-qualifiers .list-group-item:not(.list-group-item-dark)", function () {
                    var tradeQualifier = $(this).data("tradeQualifier");
                    var Qualifier1Select = $("#Qualifier1");
                    var Qualifier2Select = $("#Qualifier2");
                    var Qualifier3Select = $("#Qualifier3");
                    var Qualifier4Select = $("#Qualifier4");

                    if (Qualifier1Select.val() == "None") {
                        Qualifier1Select.val(tradeQualifier);
                    }
                    else if (Qualifier2Select.val() == "None") {
                        Qualifier2Select.val(tradeQualifier);
                    }
                    else if (Qualifier3Select.val() == "None") {
                        Qualifier3Select.val(tradeQualifier);
                    }
                    else if (Qualifier4Select.val() == "None") {
                        Qualifier4Select.val(tradeQualifier);
                    }
                })
                .on("change", "#Strategy", function () {
                    Qualifier1Select = $("#Qualifier1").val("None");
                    Qualifier2Select = $("#Qualifier2").val("None");
                    Qualifier3Select = $("#Qualifier3").val("None");
                    Qualifier4Select = $("#Qualifier4").val("None");

                    var strategy = $(this).val();

                    var url = $("#uxInput_RootUrl").val() + 'TradeProStrategy/TradeTicketQualifiers';
                    $.post(url, {
                        strategy: strategy
                    }, function (result) {
                        $("#trade-ticket-qualifiers").html(result);
                    });

                    url = $("#uxInput_RootUrl").val() + 'TradeProStrategy/MarketStructureQualifiers';
                    $.post(url, {
                        strategy: strategy
                    }, function (result) {
                        $("#market-structure-qualifiers").html(result);
                    });
                })
                .on("click", ".clear-trade-qualifier", function () {
                    $(this).closest(".form-group.row").find("select").val("None");
                })
                .on("change", "#market-structure-qualifiers input[type=checkbox]", function () {
                    var $this = $(this);
                    var strategy = $("#Strategy").val();
                    var btnClass = "";

                    switch (strategy) {
                        case "BuyTheDip":
                            btnClass = "btn-success";
                            break;
                        case "SellTheRip":
                            btnClass = "btn-danger";
                            break;
                    }

                    var checked = $this.prop("checked");

                    if (checked) {
                        $this.parent().addClass(btnClass).removeClass("btn-secondary");
                    }
                    else {
                        $this.parent().addClass("btn-secondary").removeClass(btnClass);
                    }
                });
        });


        function TradeTicketFormOnSuccess(response) {
            alert("success");
            $('#TradeTicketForm').get(0).reset();
            $("#uxButton_SetTimestamp").trigger("click");
            refreshGrid("dayPerformanceGrid", 300);
        }
    </script>
}