@{
    ViewBag.tab = "WeeklyIncome";
}


<div class="row">
    <div class="col-12">
        <ul id="messageList" class="list-group" style="overflow: auto;"></ul>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            $(".list-group").css("max-height", $(window).height() - 150);

            var jobProgressHub = $.connection.jobProgressHub;

            jobProgressHub.client.progressMessage = function (message) {
                $("#messageList").prepend(message);
            };

            jobProgressHub.client.redirect = function (controller, action, id) {
                var url = $("#uxInput_RootUrl").val() + controller + "/" + action;
                if (id > 0) {
                    url += "?id=" + id;
                }

                window.location.href = url;
            };

            $.connection.hub.start().done(function () {
                jobProgressHub.server.associateJob("@ViewBag.JobId");

            });


        });
    </script>
}
